$color-white: #ffffff;
$color-black: #000000;
$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;
$color-yellow: #ffee00;
$color-slack: #3f0f40;
$color-light-slack: #421f44;
$color-grey: #f5f5f5;